body {
  background-color: greenyellow;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.main {
  display: flex;
  column-gap: 50px;
  margin-left: 40px;
  list-style: none;
}

.recent {
  margin-right: 40px;
}

.recent-header {
  display: flex;
  gap: 10px;
}

.data {
  padding-right: 30px;
}

p {
  font-weight: 600;
  font-size: 25px;
}

li {
  list-style: none;
  margin-left: -40px;
  width: 150px;
}

li:nth-child(odd) {
  background-color: gray;
}

.input-items {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

#submit {
  width: fit-content;
  margin-left: 118px;
}

#form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

input {
  border-radius: 9px;
}

button {
  height: 30px;
  border: 2px solid black;
}

#refresh {
  border: 2px solid black;
  height: 30px;
  margin-top: 34px;
}
